/*
	this file is a part of 
	paperseed 0.0.1
		
	Author : Saint Pierre Thomas
	feel fre to contact me at spierro@free.fr
	Licenced under the termes of the GNU GPL v3
*/

body
{
    background-color: #444;
	color: #eee;
}


@media (min-width: 992px) {
  header {


  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/*///////////////////////////////////////////////////*/
#credits
{
	position : fixed;
	bottom: 0px;
	right: 0px;
	padding: 0.5em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	background-color: #111;
	color: #eee;
	z-index:3;
}

#svg7
{
	position : fixed;
	z-index:2;

	top: 0px;
	left: 0px;

	background-color: #fff;
	color: #eee;
}

#svg8
{
	position : fixed;
	z-index:1;
	top: 0px;
	right: 0px;

background: -webkit-radial-gradient(center, ellipse cover,  #eeeeec 0%,#babdb6 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  #eeeeec 0%,#babdb6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.solid {

	fill: #cfcfcf;
	opacity: 1.0;
	stroke: #000;
	stroke-width: .17px;
	stroke-linejoin: bevel;
}
.solid.active {

	fill: #cfcfcf;
	opacity: 1.0;
	stroke: #000;
	stroke-width: .27px;
	stroke-linejoin: bevel;
}
.solid-step-1 {	 fill: #d3d3d3; }
.solid-step-2 {	 fill: #d6d6d6; }
.solid-step-3 {	 fill: #d9d9d9; }
.solid-step-4 {	 fill: #dcdcdc; }
.solid-step-5 {	 fill: #dfdfdf; }
.solid-step-6 {	 fill: #e3e3e3; }
.solid-step-7 {  fill: #e6e6e6; }
.solid-step-8 {  fill: #e9e9e9; }
.solid-step-9 {	 fill: #ececec; }
.solid-step-10 { fill: #efefef; }
.solid-step-11 { fill: #f3f3f3; }
.solid-step-12 { fill: #f6f6f6; }
.solid-step-13 { fill: #f9f9f9; }
.solid-step-14 { fill: #fcfcfc; }
.solid-step-15 { fill: #ffffff; }

.active.solid-step-1 {	 fill: #03b3b3; }
.active.solid-step-2 {	 fill: #06b6b6; }
.active.solid-step-3 {	 fill: #09b9b9; }
.active.solid-step-4 {	 fill: #0cbcbc; }
.active.solid-step-5 {	 fill: #0fbfbf; }
.active.solid-step-6 {	 fill: #03c3c3; }
.active.solid-step-7 {  fill: #06c6c6; }
.active.solid-step-8 {  fill: #09c9c9; }
.active.solid-step-9 {	 fill: #0ccccc; }
.active.solid-step-10 { fill: #0fcfcf; }
.active.solid-step-11 { fill: #03d3d3; }
.active.solid-step-12 { fill: #06d6d6; }
.active.solid-step-13 { fill: #09d9d9; }
.active.solid-step-14 { fill: #0cdcdc; }
.active.solid-step-15 { fill: #0fdfdf; }


