/*
	this file is a part of 
	papier 0.4.1
		
	Author : Saint Pierre Thomas
	If you got interest in such kind of app
	feel free to contact me at spierro@free.fr
	Licenced under the termes of the GNU GPL v3
*/
@font-face {
    font-family: TitilliumWeb;
    src: url(../font/TitilliumWeb-Regular.ttf);
}
@font-face {
    font-family: TitilliumWeb-ExtraLight;
    src: url(../font/TitilliumWeb-ExtraLight.ttf);
}
@font-face {
    font-family: TitilliumWeb-Light;
    src: url(../font/TitilliumWeb-Light.ttf);
}
body
{
		font-family: TitilliumWeb;
}
#download
{
	width:2em;
	height: 2em;
	overflow: hidden;
}
#processing-indicator
{
	color: #00d;

	position: absolute;
	top: 0px;
	right: 0em;
	z-index: 1000;
}
#processing-success-indicator
{
	color: #0d0;
	position: absolute;
	top: 0px;
	right: 0em;
	z-index: 100;
}
#processing-fail-indicator
{
	position: absolute;
	top: 0px;
	right: 0em;
	color: #d00;	
	z-index: 100;
}

#renderplane
{

transform: translate(5px, 5px);


}
.flatshape {
	fill: #fff;
	opacity: 1.0;
	stroke: #babdb6;
	stroke-width: 1px;
	stroke-linejoin: bevel;
}
.nodeshape {
	fill: #efefef00;
	opacity: 1.0;
	stroke: #000000;
	stroke-width: 2px;
	stroke-linejoin: bevel;
}
#topset
{
		font-family: monospace, monospace;


}
#topset-title
{
font-size: large;

}
#cantstart
{		
	position: relative;

color: rgb(200, 0,0);
		text-align: center;
top:66vh;

}
	#startapp
	{
		font-family: TitilliumWeb-Light;
		font-size: 1.5em;
		font-weight: 400;
}
	#thirdpartcode
	{
		font-family: TitilliumWeb-ExtraLight;
		position: relative;
		top: 88vh;
		text-align: center;
	}
	#thirdpartcode a
	{
		padding: 0.3em;
		color: #000;
		text-decoration: none;
	}
#credits p {
	position: relative;
	font-size: 1em;
	padding: 0.2em;
	margin: 0px
}
body {
	background-color: #444;
	color: #eee;
}
#settings {
	background-color: #fffd;
	color: #222;
}
.noselect {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently supported by Chrome and Opera */
}
@media (max-aspect-ratio: 1/1) {
	#scratch-message {
		position: fixed;
		top: calc(100vh - 70.7vw);
		left: 0px;
		color: #222;
		z-index: 4;
		width: 100vw;
	}
	#thirdpartcode
	{
		font-family: monospace, monospace;
		position: relative;
		top: 74vh;
		text-align: center;
	}
	#startapp
	{
		position: absolute;
		top: 56vh;
		left: 35vw;
		width: 30vw;
		height: auto;

	/*display:none;
	*/
	}#startlogo
	{
		position: absolute;
		top: 20vh;
		left: 30vw;
		width: 40vw;
		height: auto;
	}
	#settings {
		overflow-x: hide;
		overflow-y: scroll;
		padding-top: 1em;
		;
		position: absolute;
		z-index: 15;
		width: 100vw;
		height: 100vh;
		top: 0px;
		right: 0px;
	}
	#credits {
		position: absolute;
		top: 91.9vh;
		left: 2vw;
		color: #222;
		z-index: 4;

	}
	
	#dispatcher-dialog
	{
		position: fixed;
		z-index: 6;
		top: 33vh;
		left: 2vw;
		width: 35.35vh;
		height: 2em;
		background-color: #0000;
		color: #fff;
	
	}
	#svg7 {
	opacity: 1.0;
		position: fixed;
		z-index: 2;
		bottom: 2vw;
		left: 2vw;
		width: 45.35vw;
		height: 63.65vw;
		background-color: #0000;
		color: #eee;
		border: 0.5mm solid;
	}
	#renderbox {
		position: fixed;
		z-index: 1;
		width: 100vw;
		height: 70vh;
		top: 0px;
		right: 0px;
		/* Chrome10-25,Safari5.1-6 */
		background: #0000;
	}
}
@media (min-aspect-ratio: 1/1) {
#scratch-message {
		position: fixed;
		top: 0px;
		left: 0px;
		color: #222;
		z-index: 4;
		width: 70.7vh;
	}
	#startapp
	{
		position: absolute;
		top: 70vh;
		left: 40vw;
		width: 20vw;
		height: auto;
	 display: none;


	/*display:none;
	*/
	}#startlogo
	{
		position: absolute;
		top: 10vh;
		left: 40vw;
		width: 20vw;
		height: auto;
	}
	#settings {
		overflow-x: hide;
		overflow-y: scroll;
		padding-top: 1em;
		;
		position: absolute;
		z-index: 15;
		width: 100vw;
		height: 100vh;
		top: 0px;
		right: 0px;
	}
	#credits {
		position: absolute;
		top: 91.9vh;
		left: 2vw;
		color: #222;
		z-index: 4;

	}
	
	#dispatcher-dialog
	{
		position: fixed;
		z-index: 6;
		top: 33vh;
		left: 2vw;
		width: 35.35vh;
		height: 2em;
		background-color: #0000;
		color: #fff;
	
	}
	#svg7 {
	opacity: 1.0;
		position: fixed;
		z-index: 2;
		top: 40vh;
		left: 2vw;
		width: 35.35vh;
		height: 50vh;
		background-color: #0000;
		color: #eee;
		border: 0.5mm solid;
	}
	#renderbox {
		position: fixed;
		z-index: 1;
		width: 84vw;
		height: 100vh;
		top: 0px;
		right: 0px;
		/* Chrome10-25,Safari5.1-6 */
		background: #0000;
	}
	#p-title
	{
		font-size: 5vh;
		position: absolute;
		top: 2vh;
		left: 2vw;
		color: #fff;
		z-index: 4;

		
		
	}
	

}
/*
	this file is a part of 
	papier 0.4.1
		
	Author : Saint Pierre Thomas
	If you got interest in such kind of app
	feel free to contact me at spierro@protonmail.fr
	Licenced under the termes of the GNU GPL v3
*/
