
.icon-upload:before { content: '\e800'; } /* '' */
.icon-download:before { content: '\e801'; } /* '' */
.icon-print:before { content: '\e802'; } /* '' */
.icon-s1p:before { content: '\e803'; } /* '' */
.icon-gg:before { content: '\e804'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */