/*
	this file is a part of 
	papier 0.4.1
		
	Author : Saint Pierre Thomas
	If you got interest in such kind of app
	feel free to contact me at spierro@free.fr
	Licenced under the termes of the GNU GPL v3
*/
@font-face {
    font-family: TitilliumWeb;
    src: url(../font/TitilliumWeb-Regular.ttf);
}
@font-face {
    font-family: TitilliumWeb-ExtraLight;
    src: url(../font/TitilliumWeb-ExtraLight.ttf);
}
@font-face {
    font-family: TitilliumWeb-Light;
    src: url(../font/TitilliumWeb-Light.ttf);
}
@font-face {
    font-family: TitilliumWeb-Bold;
    src: url(../font/TitilliumWeb-Bold.ttf);
}
@font-face {
    font-family: TitilliumWeb-Black;
    src: url(../font/TitilliumWeb-Black.ttf);
}
body
{
		font-family: sans;
}
.btn-danger
{	
	color: #000;
	background-color: #ff9f4a;
}
.btn-outline-light
{
	border-color: #ccc;
	color: #ccc;
	background: none;
}.btn-outline-light:hover
{
	border-color: #fff;
	color: #fff;
	background: none;
}
#download
{
	width:2em;
	height: 2em;
	overflow: hidden;
}
#processing-indicator
{
	color: #00d;
		font-size: 1.5em;

	position: absolute;
	bottom: 0px;
	right: 0em;
	z-index: 1000;
}
#processing-success-indicator
{
		font-size: 1.5em;
	color: #0d0;
	position: absolute;
	bottom: 0px;
	right: 0em;
	z-index: 100;
}
#processing-fail-indicator
{
		font-size: 1.5em;
	position: absolute;
	bottom: 0px;
	right: 0em;
	color: #d00;	
	z-index: 100;
}
#close-settings
{
	position: fixed;
	right: 20px;
	top: 10px;
	z-index: 100;
}

#renderplane
{

transform: translate(5px, 5px);


}
.flatshape {
	fill: #fff;
	opacity: 1.0;
	stroke: #babdb6;
	stroke-width: 1px;
	stroke-linejoin: bevel;
}
.nodeshape {
	fill: #efefef00;
	opacity: 1.0;
	stroke: #000000;
	stroke-width: 2px;
	stroke-linejoin: bevel;
}
#topset
{
		font-family: monospace, monospace;


}
#topset-title
{
font-size: large;

}
#cantstart
{		
	position: relative;

		color: #ff9f4a;
		text-align: center;
top:66vh;

}
#startapp
{
		font-family: TitilliumWeb-Light;
		font-size: 1.5em;
		font-weight: 400;
		position: relative;
		z-index: 300;
		width: 35.35vh;
		margin: auto;
		margin-top: 2em;
		
			display: block;

}
#startlogo
{
		position: relative;
		z-index: 300;
		width: 35.35vh;
		margin: auto;
		margin-top: 2em;
		
		display: block;

}
#propulsedby
{
		position: relative;
		z-index: 300;
		width: 35.35vh;
		margin: auto;
		margin-top: 2em;
		display: block;
		font-family: TitilliumWeb-Light;
		font-size: 1.2em;
		color: #f94;
		text-align: center;
}
#propulsedby a
{
		color: #f94;
		text-decoration: none;
		font-weight: 400;
}
#thirdpartcode
{
		position: relative;
		z-index: 300;
		width: 35.35vh;
		margin: auto;
		margin-top: 2em;
		display: block;
		font-family: TitilliumWeb-Light;
		font-size: 1em;
		color: #bbb;
		text-align: center;
}
#thirdpartcode a
{
	padding: 0.3em;
	color: #ddd;
	text-decoration: none;
}

body {
	background-color: #444;
	color: #eee;
}
#settings {
	background-color: #0000;
	color: #ddd;
}
.noselect {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently supported by Chrome and Opera */
}

@media (min-aspect-ratio: 3/4) {

	body { background-color: #444; }

	/*    
     Mobile view 640 x 480
     =====================
	
		  -_____________________-
		| |                     | |
		| |                     | |
		| |                     | |
		| |                     | |
		| |                     | |
		| |_____________________| |

	@media screen and (max-width: 650px) {
*/	
	#dispatcher-dialog
	{
		position: fixed;
		z-index: 6;
		bottom: 7vh;
		left: 2vw;
		width: 35.35vh;
		height: 2em;
		background-color: #0000;
		color: #f94;
		font-family: TitilliumWeb;

	}
	#main-app-dialog.pages-view
	{
		font-size: 1.5em;
		position: fixed;
		top: 0.5em;
		right: 0.5em;
		max-width: 80%; 
		color: #fff;
		z-index: 4;
		padding: 0em;
					margin: 0em;
		line-height: 1em;
		text-align: right;
	}

	#main-app-dialog.d-view
	{
		font-size: 1.5em;
		position: fixed;
		top: 0.5em;
		left: 0.5em;
		max-width: 80%; 
		color: #fff;
		z-index: 4;
		padding: 0em;
					margin: 0em;
		line-height: 1em;
		text-align: right;
	}

	#main-app-dialog.settings-view
	{
			display: none;
			z-index: 0;
			opacity: 0.0;
	}

	.desc
	{
		font-size: 0.5em;	
	}

		#settings.d-view, #settings.pages-view {
			display: none;
	}

	#settings.settings-view {
		display: block;
		overflow-x: hide;
		overflow-y: scroll;
		padding-top: 1em;
		;
		position: fixed;
		z-index: 15;
		width: 100%;
		height: 100vh;
		top: 0px;
		left:0px;
	}	
	#scratch-message.d-view {

		font-size:0.6em;

		background-color: #ff9f4a;
		color: #222;
		position: fixed;
		z-index: 40;
		bottom: 0px;
		left: 0px;
		width: 100%;
		padding:0.3em;	
	}
	#svg7.d-view {

		display: block;
		opacity: 1.0;
		background-color: #0000;
		color: #eee;
		position: fixed;
		z-index: 2;
		bottom: 0.5em;
		left: 0.5em;
		width: 11em;
		height: auto;
		border: 0.5mm solid;
	}
	#svg7.settings-view {
		display: none;
		z-index: 0;
		opacity: 0.0;
	}
	#svg7.pages-view {
		display: block;
		opacity: 1.0;
		background-color: #0000;
		color: #eee;
		position: fixed;
		z-index: 2;
		bottom: 0.5em;
		left: 0.5em;
		width: auto;
		height: 95%;
		border: 0.5mm solid;
	}
	#renderbox.d-view {
		display: block;
		position: fixed;
		z-index: 1;
		width: 85%;
		height: 100%;
		top: 0px;
		left: 15%;
		/* Chrome10-25,Safari5.1-6 */
		background: #0000;
	}
	#renderbox.pages-view {
		display: block;
		position: fixed;
		z-index: 1;
		width: 65%;
		height: 100%;
		top: 1%;
		right: 0%;
		/* Chrome10-25,Safari5.1-6 */
		background: #0000;
	}
	#renderbox.settings-view{
		display: none;
		z-index: 0;
		opacity: 0.0;
	}
	#credits.pages-view, #credits.settings-view
	{
		display: none;
		z-index: 0;
		opacity: 0.0;
	}
	#credits.d-view {
		font-size: 1.5em;

		position: absolute;
		top: 0vh;
		right: 2vw;
		color: #222;
		z-index: 4;

		padding: 1vh;
		margin: 0px;


	}
	#dispatcher-dialog.d-view
	{
		position: fixed;
		z-index: 6;
		bottom: 0.5em;
		left: 0.5em;
		width: 35.35vh;
		height: 2em;
		background-color: #0000;
		color: #f94;
		font-family: TitilliumWeb;

	}
}
@media (max-aspect-ratio: 4/3) {

	body { background-color: #444; }

	/*     ____________
	 		/____________\       Talette view 768 x 1024
	 		|            |       =====================
	 		|            |
	 		|            |
	 		|            |
	 		|            |
	 		|            |
			|____________|
			\____________/
*/
	#dispatcher-dialog
	{
		position: fixed;
		z-index: 6;
		bottom: 7vh;
		left: 2vw;
		width: 35.35vh;
		height: 2em;
		background-color: #0000;
		color: #f94;
		font-family: TitilliumWeb;

	}
	#main-app-dialog.d-view, #main-app-dialog.pages-view
	{
		font-size: 1.5em;
		position: fixed;
		top: 0.5em;
		left: 0.5em;
		max-width: 80%; 
		color: #f94;
		z-index: 4;
		padding: 0em;
					margin: 0em;
		line-height: 1em;
	}

	#main-app-dialog.settings-view
	{
			display: none;
			z-index: 0;
			opacity: 0.0;
	}

	.desc
	{
		font-size: 0.5em;	
	}

	#settings.settings-view {
		display: block;
		overflow-x: hide;
		overflow-y: scroll;
		padding-top: 1em;
		;
		position: fixed;
		z-index: 15;
		width: 100%;
		height: 100vh;
		top: 0px;
		left:0px;
	}	
	#scratch-message.d-view {

		font-size:0.6em;

		background-color: #ff9f4a;
		color: #222;
		position: fixed;
		z-index: 40;
		bottom: 0px;
		left: 0px;
		width: 100%;
		padding:0.3em;	
	}
	#svg7.d-view {

		display: block;
		opacity: 1.0;
		background-color: #0000;
		color: #eee;
		position: fixed;
		z-index: 2;
		bottom: 0.5em;
		left: 0.5em;
		width: 9em;
		height: auto;
		border: 0.5mm solid;
	}
	#svg7.settings-view {
		display: none;
		z-index: 0;
		opacity: 0.0;
	}
	#svg7.pages-view {
		display: block;
		opacity: 1.0;
		background-color: #0000;
		color: #eee;
		position: fixed;
		z-index: 2;
		bottom: 0.5em;
		left: 5%;
		width: 90%;
		height: auto;
		border: 0.5mm solid;
	}
	#renderbox.d-view {
		display: block;
		position: fixed;
		z-index: 1;
		width: 100%;
		height: 80%;
		top: 0px;
		left: 0px;
		/* Chrome10-25,Safari5.1-6 */
		background: #0000;
	}
	#renderbox.pages-view {
		display: block;
		position: fixed;
		z-index: 1;
		width: 30%;
		height: 20%;
		top: 1%;
		left: 70%;
		/* Chrome10-25,Safari5.1-6 */
		background: #0000;
	}
	#renderbox.settings-view{
		display: none;
		z-index: 0;
		opacity: 0.0;
	}
	#credits.pages-view, #credits.settings-view
	{
		display: none;
		z-index: 0;
		opacity: 0.0;
	}
	#credits.d-view {
		font-size: 1.5em;

		position: absolute;
		top: 0vh;
		right: 2vw;
		color: #222;
		z-index: 4;

		padding: 1vh;
		margin: 0px;


	}
	#dispatcher-dialog.d-view
	{
		position: fixed;
		z-index: 6;
		bottom: 0.5em;
		left: 0.5em;
		width: 35.35vh;
		height: 2em;
		background-color: #0000;
		color: #f94;
		font-family: TitilliumWeb;

	}
}

@media (max-aspect-ratio: 3/4) {

	body { background-color: #444; }

	/*       _________
	 		/_________\       Mobile view 480 x 640
	 		|         |       =====================
	 		|         |
	 		|         |
	 		|         |
	 		|         |
	 		|         |
			|_________|
			\_________/
*/
	#dispatcher-dialog
	{
		position: fixed;
		z-index: 6;
		bottom: 7vh;
		left: 2vw;
		width: 35.35vh;
		height: 2em;
		background-color: #0000;
		color: #f94;
		font-family: TitilliumWeb;

	}
	#main-app-dialog.d-view, #main-app-dialog.pages-view
	{
		font-size: 1.5em;
		position: fixed;
		top: 0.5em;
		left: 0.5em;
		max-width: 80%; 
		color: #fff;
		z-index: 4;
		padding: 0em;
					margin: 0em;
		line-height: 1em;
	}

	#main-app-dialog.settings-view
	{
			display: none;
			z-index: 0;
			opacity: 0.0;
	}

	.desc
	{
		font-size: 0.5em;	
	}

		#settings.d-view, #settings.pages-view {
			display: none;
	}

	#settings.settings-view {
		display: block;
		overflow-x: hide;
		overflow-y: scroll;
		padding-top: 1em;
		;
		position: fixed;
		z-index: 15;
		width: 100%;
		height: 100vh;
		top: 0px;
		left:0px;
	}	
	#scratch-message.d-view {

		font-size:0.6em;

		background-color: #ff9f4a;
		color: #222;
		position: fixed;
		z-index: 40;
		bottom: 0px;
		left: 0px;
		width: 100%;
		padding:0.3em;	
	}
	#svg7.d-view {

		display: block;
		opacity: 1.0;
		background-color: #0000;
		color: #eee;
		position: fixed;
		z-index: 2;
		bottom: 0.5em;
		left: 0.5em;
		width: 7em;
		height: auto;
		border: 0.5mm solid;
	}
	#svg7.settings-view {
		display: none;
		z-index: 0;
		opacity: 0.0;
	}
	#svg7.pages-view {
		display: block;
		opacity: 1.0;
		background-color: #0000;
		color: #eee;
		position: fixed;
		z-index: 2;
		bottom: 0.5em;
		left: 5%;
		width: 90%;
		height: auto;
		border: 0.5mm solid;
	}
	#renderbox.d-view {
		display: block;
		position: fixed;
		z-index: 1;
		width: 100%;
		height: 80%;
		top: 0px;
		left: 0px;
		/* Chrome10-25,Safari5.1-6 */
		background: #0000;
	}
	#renderbox.pages-view {
		display: block;
		position: fixed;
		z-index: 1;
		width: 30%;
		height: 20%;
		top: 1%;
		left: 70%;
		/* Chrome10-25,Safari5.1-6 */
		background: #0000;
	}
	#renderbox.settings-view{
		display: none;
		z-index: 0;
		opacity: 0.0;
	}
	#credits.pages-view, #credits.settings-view
	{
		display: none;
		z-index: 0;
		opacity: 0.0;
	}
	#credits.d-view {
		font-size: 1.5em;

		position: absolute;
		top: 0vh;
		right: 2vw;
		color: #222;
		z-index: 4;

		padding: 1vh;
		margin: 0px;


	}
	#dispatcher-dialog.d-view
	{
		position: fixed;
		z-index: 6;
		bottom: 0.5em;
		left: 0.5em;
		width: 35.35vh;
		height: 2em;
		background-color: #0000;
		color: #f94;
		font-family: TitilliumWeb;

	}
}

/*
	this file is a part of 
	papier 0.4.1
		
	Author : Saint Pierre Thomas
	If you got interest in such kind of app
	feel free to contact me at spierro@protonmail.fr
	Licenced under the termes of the GNU GPL v3
*/
