/*
	this file is a part of 
	papier 0.4.1
		
	Author : Saint Pierre Thomas
	If you got interest in such kind of app
	feel free to contact me at spierro@free.fr
	Licenced under the termes of the GNU GPL v3
*/
@font-face {
    font-family: TitilliumWeb;
    src: url(../font/TitilliumWeb-Regular.ttf);
}
@font-face {
    font-family: TitilliumWeb-ExtraLight;
    src: url(../font/TitilliumWeb-ExtraLight.ttf);
}
@font-face {
    font-family: TitilliumWeb-Light;
    src: url(../font/TitilliumWeb-Light.ttf);
}
@font-face {
    font-family: TitilliumWeb-Bold;
    src: url(../font/TitilliumWeb-Bold.ttf);
}
@font-face {
    font-family: TitilliumWeb-Black;
    src: url(../font/TitilliumWeb-Black.ttf);
}
body
{
		font-family: sans;
}

.text-light
{
	color: #eee;
}
.container
{
	padding: 1em;
	margin-bottom: 2em;
}

#download
{
	width:2em;
	height: 2em;
	overflow: hidden;
}
#processing-indicator
{
	color: #00d;
		font-size: 1.5em;

	position: absolute;
	bottom: 0px;
	right: 0em;
	z-index: 1000;
}
#processing-success-indicator
{
		font-size: 1.5em;
	color: #0d0;
	position: absolute;
	bottom: 0px;
	right: 0em;
	z-index: 100;
}
#processing-fail-indicator
{
		font-size: 1.5em;
	position: absolute;
	bottom: 0px;
	right: 0em;
	color: #d00;	
	z-index: 100;
}
#close-settings
{
	position: fixed;
	right: 2em;
	top: 1em;
	z-index: 100;
}

#renderplane
{

transform: translate(5px, 5px);


}
.flatshape {
	fill: #777;
	opacity: 1.0;
	stroke: #888;
	stroke-width: 1px;
	stroke-linejoin: bevel;
}
.nodeshape {
	fill: #bbb0;
	opacity: 1.0;
	stroke: #000;
	stroke-width: 2px;
	stroke-linejoin: bevel;
}
#topset
{
		font-family: monospace, monospace;


}
#topset-title
{
font-size: large;

}
#cantstart
{		
	position: relative;

		color: #ff9f4a;
		text-align: center;
top:66vh;

}
@keyframes start-fadein {
  from {
		display: none;
  }

  to {
		display: block;
 
  }
}


body {
	background-color: #444;
	color: #eee;
}
#settings {
	background-color: #0000;
	color: #ddd;
}
.noselect {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently supported by Chrome and Opera */
}



@media screen and (max-width: 1020px) {
@media screen and (max-aspect-ratio: 1/1) {
/*
      Smartphone portrait
      ===================
      
       _________
 		|_________|      
 		|         |     
 		|         |    
 		|         | 
 		|         |
 		|         |
 		|         |
		|_________|
		|_________|
*/
	#renderbox.d-view {
		display: block;
		position: fixed;
		z-index: 1;
		width: 100%;
		height: 95%;
		top: 0px;
		left: 0px;
		/* Chrome10-25,Safari5.1-6 */
		background: #0000;
	}

	#svg7.d-view {

		transform: rotate(90deg);

		
		display: block;
		opacity: 1.0;
		background-color: #0000;
		color: #444;
		position: fixed;
		z-index: 2;
		bottom: 0.5em;
		left: 5.5em;
		width: 7em;
		height: auto;
		border: 1px solid;
	}
	body.pages-view { background-color: #444; }
/*
		Pages view
		==========
*/
	#menu.pages-view, #main-app-dialog-info.pages-view

	{
		display: none;
	
	}
	#page-nav.pages-view
	{
		font-size: 1.1em;
		position: fixed;
		z-index: 6;
		bottom: 0em;
		left: 50%;
		width: auto;
		height: 2em;
		background-color: #0000;
		color: #f94;
		font-family: TitilliumWeb-Bold;
		text-align: center;
		transform: translate(-50%);
	}

	

	
	#dispatcher-dialog.pages-view
	{
		font-size: 1.1em;
		position: fixed;
		z-index: 6;
		bottom: 0em;
		left: 1em;
		width: auto;
		height: 2em;
		background-color: #0000;
		color: #f94;
		font-family: TitilliumWeb-Bold;

	}
	

	#main-app-dialog.pages-view
	{
		font-size: 1.2em;
		position: fixed;
		top: 0.5em;
		left: 0;
		max-width: 80%; 
		color: #fff;
		z-index: 4;
		padding: 0em;
		margin: 0em;
		line-height: 1em;
		text-align: left;
	}
	#main-app-dialog-title.pages-view
	{
		font-size: 1.3em;	
		width: 80%;
		position: relative;
		top: 0em;
		left: 0em;
		max-width: 80%; 
		margin-bottom: 0.4em;
	}
	#main-app-dialog-info.pages-view
	{	
		display: none;
	}
	#svg7.pages-view {
		display: block;
		opacity: 1.0;
		background-color: #fff;
		color: #eee;
		position: fixed;
		z-index: 2;
		bottom: 2.5em;
		left: 0;
		width: 100%;
		height: auto;
		border: 0.5mm solid;
	}
	#renderbox.pages-view {
		display: block;
		position: fixed;
		z-index: 1;
		width: 60%;
		height: calc(100vh - 150vw);
		top: 0;
		left: 40%;
		/* Chrome10-25,Safari5.1-6 */
		background: #0000;
	}
}

@media screen and (min-aspect-ratio: 1/1) {
/*
	 Smartphone landscape
	 ====================
	 ______________________
	| |                  | |
	| |                  | |
	| |                  | |
	| |                  | |
	| |                  | |
	|_|__________________|_|
*/

	body.pages-view { background-color: #444; }
/*
		Pages view
		==========
*/
	#page-nav.pages-view
	{
		font-size: 1.1em;
		position: fixed;
		z-index: 6;
		bottom: 0em;
		left: 79vh;
		width: auto;
		height: 2em;
		background-color: #0000;
		color: #f94;
		font-family: TitilliumWeb-Bold;

	}

	

	
	#dispatcher-dialog.pages-view
	{
		font-size: 1.1em;
		position: fixed;
		z-index: 6;
		bottom: 0em;
		left: 73vh;
		width: auto;
		height: 2em;
		background-color: #0000;
		color: #f94;
		font-family: TitilliumWeb-Bold;

	}

	#main-app-dialog.pages-view
	{
		font-size: 1em;
		position: fixed;
		top: 1.1em;
		left: 73vh;
		max-width: 80%; 
		color: #fff;
		z-index: 4;
		padding: 0em;
		margin: 0em;
		line-height: 1em;
		text-align: left;
	}
	#main-app-dialog-title.pages-view
	{
		font-size: 1.3em;	
		width: 80%;
		position: relative;
		top: 0em;
		left: 0em;
		max-width: 80%; 
		margin-bottom: 0.4em;
	}
	#main-app-dialog-info.pages-view
	{	
		display: none;
	}





	#svg7.pages-view {
		display: block;
		opacity: 1.0;
		background-color: #fff;
		color: #eee;
		position: fixed;
		z-index: 2;
		bottom: 0;
		left: 0;
		width: auto;
		height: 100vh;

	}
	#renderbox.pages-view {
		display: block;
		position: fixed;
		z-index: 1;
		width: calc(100vw - 70.7vh);
		height: 100%;
		top: 0px;
		left: 70.7vh;
		background: #0000;
	}
	#renderbox.d-view {
		display: block;
		position: fixed;
		z-index: 1;
		width: 85%;
		height: 100%;
		top: 0px;
		right: 0px;
		/* Chrome10-25,Safari5.1-6 */
		background: #0000;
	}
	#svg7.d-view {

		display: block;
		opacity: 1.0;
		background-color: #0000;
		color: #444;
		position: fixed;
		z-index: 2;
		bottom: 5.5em;
		left: 0.5em;
		width: 7em;
		height: auto;
		border: 1px solid;
	}


}
/*     _________
 		|_________|       Smartphone both
 		|         |       ===============
 		|         |       ______________________
 		|         |      | |                  | |
 		|         |      | |                  | |
 		|         |      | |                  | |
 		|         |      | |                  | |
		|_________|      | |                  | |
		|_________|      |_|__________________|_|
*/

/*
		d-view
		======
		
		This is the main view
		it's focused on the 3d model.

*/
	#dispatcher-dialog.d-view
	{
		position: absolute;
		z-index: 6;
		bottom: 3.3em;
		left: 1em;
		margin-right: 1em;
		background-color: #0000;
		color: #f94;
		font-family: TitilliumWeb-Bold;
		height: auto;
		width: auto;
		padding-top:1.1em;
		padding-bottom:0.5em;
		padding-left:0.5em;
		padding-right: 0.5em;
		border: 1px solid;
	}
	#main-app-dialog-info.d-view p
	{
		margin:0em;
	}
	#main-app-dialog-info.d-view
	{
		font-size: 1em;	
		width: auto;
		position: fixed;
		bottom: 0.5em;
		left: 0.5em;
		max-width: 100%; 
	}
	#main-app-dialog.d-view
	{
		font-size: 1em;	
		width: 80%;
		position: fixed;
		top: 0.5em;
		left: 0.5em;
		max-width: 80%; 
	}
	#main-app-dialog-title.d-view
	{
		font-size: 2em;	
		width: 80%;
		position: relative;
		top: 0em;
		left: 0em;
		max-width: 80%; 
	}
	#scratch-message.d-view {

		font-size:0.6em;

		background-color: #ff9f4a;
		color: #222;
		position: fixed;
		z-index: 40;
		bottom: 0px;
		left: 0px;
		width: 100%;
		padding:0.3em;	
	}

}

	
/*
		Settings view
		=============
*/
	body.settings-view { background-color: #333; }

	#dispatcher-dialog.settings-view, #svg7.settings-view,
	#main-app-dialog.settings-view
	{
		display: none;
		z-index: 0;
		opacity: 0.0;

	}
	#renderbox.settings-view{
		display: none;
		z-index: 0;
		opacity: 0.0;
	}

	
	#settings.d-view, #settings.pages-view { display: none; }
	#settings.settings-view
	{
		display: block;
		overflow-x: hide;
		overflow-y: scroll;
		padding-top: 1em;
		
		position: fixed;
		z-index: 15;
		width: 100%;
		height: 100vh;
		top: 0px;
		left:0px;
	}	


@media (min-width: 1020px) {
/*
		Desktop view
		############
		 ______________________
		|                      | 
		|                      | 
		|                      | 
		|                      | 
		|                      | 
		|______________________| 
              _______
*/
	body { background-color: #444; }
/*    
		# d-view
		
		This is the main view
		it's focused on the 3d model.

*/
	#renderbox.d-view {
		display: block;
		position: fixed;
		z-index: 1;
		width: 85%;
		height: 100%;
		top: 0px;
		right: 0px;
		background: #0000;
	}
	#dispatcher-dialog.d-view
	{
		position: absolute;
		z-index: 6;
		bottom: 1.3em;
		left: 1em;
		background-color: #0000;
		color: #f94;
		font-family: TitilliumWeb-Bold;
		font-size: 1em;
		height: auto;
		width: auto;
		padding-top:1.1em;
		padding-bottom:0.5em;
		padding-left:0.5em;
		padding-right: 0.5em;
		margin-right: 1em;
		border: 1px solid;
	}
	#main-app-dialog-info.d-view p
	{
		margin:0em;
	}
	#main-app-dialog-info.d-view
	{
		font-size: 1em;	
		width: auto;
		position: fixed;
		bottom: 1em;
		left: 4.5em;
		max-width: 80%; 
		color: #ccc;
	}
	#main-app-dialog.d-view
	{
		font-size: 1em;	
		width: 80%;
		position: fixed;
		top: 0.5em;
		left: 0.5em;
		max-width: 80%; 
	}
	#main-app-dialog-title.d-view
	{
		font-size: 2em;	
		width: 80%;
		position: relative;
		top: 0em;
		left: 0em;
		max-width: 80%; 
	}
	#scratch-message.d-view {

		font-size:0.6em;

		background-color: #ff9f4a;
		color: #222;
		position: fixed;
		z-index: 40;
		bottom: 0px;
		left: 0px;
		width: 100%;
		padding:0.3em;	
	}
	#svg7.d-view {

		display: block;
		opacity: 1.0;
		background-color: #0000;
		color: #444;
		position: fixed;
		z-index: 2;
		bottom: 4.5em;
		left: 0.5em;
		width: 14em;
		height: auto;
		border: 1px solid;
	}

	
/*
		# Settings view

*/
	body.settings-view { background-color: #333; }

	#dispatcher-dialog.settings-view
	{
		display: none;
		z-index: 0;
		opacity: 0.0;
	
	}
	#svg7.settings-view
	{
		display: none;
		z-index: 0;
		opacity: 0.0;
	}	
	#main-app-dialog.settings-view
	{
		display: block;
		position: fixed;
		z-index: 4;
		opacity: 1.0;
		top: 1em;
		left: 1em;
		max-width: 80%; 
		text-align: left;
		font-size: 1em;
		color: #fff;
		padding: 0em;
		margin: 0em;
		line-height: 1em;
	}

	
	#settings.d-view, #settings.pages-view { display: none; }
	#settings.settings-view
	{
		display: block;
		overflow-x: hide;
		overflow-y: scroll;
		padding-top: 1em;
		;
		position: fixed;
		z-index: 15;
		width: auto;
		height: 100vh;
		top: 0px;
		left:18em;
	}	
	#renderbox.settings-view {
		display: block;
		position: fixed;
		z-index: 1;
		width: 16vw;
		height: 9vw;
		top: 3.5em;
		left: 2vw;
		background: #0000;
		opacity: 1.0;
	}

	#main-app-dialog-title.settings-view
	{
		display: block;
		font-size: 1.6em;	
		width: 20em;
		position: relative;
		top: 0em;
		left: 0em;
		max-width: 80%; 
		margin-bottom: 0.4em;
		opacity: 1.0;
	}
	#main-app-dialog-info.settings-view
	{
		display: block;
		font-size: 1em;
		position: fixed;
		top: 11em;
		left: 1em;
		width: 16em; 
		color: #fff;
		z-index: 4;
		padding: 0em;
					margin: 0em;
		line-height: 1em;
		text-align: left;
		opacity: 1.0;
	}




/*
		# Pages view

*/
	body.pages-view { background-color: #444; }
	
	
	
	#page-nav.pages-view
	{
		font-size: 1.1em;
		position: fixed;
		z-index: 6;
		bottom: 2.4em;
		left: 74.7vh;
		width: 35.35vh;
		height: 2em;
		background-color: #0000;
		color: #f94;
		font-family: TitilliumWeb-Bold;

	}

	#dispatcher-dialog.pages-view
	{
		font-size: 1.3em;
		position: fixed;
		z-index: 6;
		bottom: 1.86em;
		left: 70.7vh;
		width: 35.35vh;
		height: 2em;
		background-color: #0000;
		color: #f94;
		font-family: TitilliumWeb-Bold;

	}

	#main-app-dialog.pages-view
	{
		font-size: 1em;
		position: fixed;
		top: 1.1em;
		left: 70.7vh;
		max-width: 80%; 
		color: #fff;
		z-index: 4;
		padding: 0em;
					margin: 0em;
		line-height: 1em;
		text-align: left;
	}
	#main-app-dialog-title.pages-view
	{
		font-size: 1.6em;	
		width: 20em;
		position: relative;
		top: 0em;
		left: 0em;
		max-width: 80%; 
		margin-bottom: 0.4em;
	}
	#main-app-dialog-info.pages-view
	{
		font-size: 1em;
		position: fixed;
		bottom: 0.5em;
		left: 70.7vh;
		max-width: 80%; 
		color: #fff;
		z-index: 4;
		padding: 0em;
					margin: 0em;
		line-height: 1em;
		text-align: left;
	}





	#svg7.pages-view {
		display: block;
		opacity: 1.0;
		background-color: #fff;
		color: #eee;
		position: fixed;
		z-index: 2;
		bottom: 3%;
		left: 0.5em;
		width: auto;
		height: 94%;
		border: 0.5mm solid;
	}
	#renderbox.pages-view {
		display: block;
		position: fixed;
		z-index: 1;
		width: calc(100vw - 70.7vh);
		height: 100%;
		top: 0px;
		left: 70.7vh;
		background: #0000;
	}

}

.btn
{
	border-radius: 3px;
	padding: 6px;
	border: 1px solid #eee;
	background-color: #eee;
	color:#333;
}
.btn:hover
{
	border-radius: 6px;
	border: 1px solid #f94;
	background-color: #ff9f4a;
	color:#fff;
}
.btn-danger
{	
	color: #000;
	background-color: #ff9f4a;
}
.btn-outline-light
{
	border-color: #ccc;
	color: #ccc;
	background: none;
}
.btn-outline-light:hover
{
	border-color: #fff;
	color: #fff;
	background: none;
}

.desc
{
	font-size: 0.9em;	
	color: #aaa;
}


	#logput{
	font-family: monospace, monospace;
		background-color: #000;
		color: #fff;
		font-size: 0.9em;

		position: fixed;
		right: 0em;
		bottom: 0em;
		height: auto;
		width: auto;
		z-index: 400;

		padding: 1vh;
		margin: 0px;
	
	}
	#logput p{
		padding: 0px;
		margin: 0px;
	
	}
	#menu{
		font-size: 1.3em;

		position: absolute;
		top: 0.3em;
		right: 0.3em;
		color: #222;
		z-index: 4;

		padding: 1vh;
		margin: 0px;
	
	}
	#menu.settings-view
	{
		display: none;
		z-index: 0;
		opacity: 0.0;
	}

/*
		print view
		############
		 _________
		|         | 
		|         | 
		|         | 
		|         | 
		|         | 
		| A4      | 
      |_________|
*/
	body.print-view { background-color: #444; }
/*    
		# d-view
		
		This is the main view
		it's focused on the 3d model.

*/
	#renderbox.print-view {
			display: none;
		z-index: 0;
		opacity: 0.0;
	}
	#dispatcher-dialog.print-view
	{
		display: none;
		z-index: 0;
		opacity: 0.0;
	}
	#main-app-dialog-info.print-view p
	{
		display: none;
		z-index: 0;
		opacity: 0.0;
	}
	#main-app-dialog-info.print-view
	{
		display: none;
		z-index: 0;
		opacity: 0.0;
	}
	#main-app-dialog.print-view
	{
		display: none;
		z-index: 0;
		opacity: 0.0;
	}
	#main-app-dialog-title.print-view
	{
		display: none;
		z-index: 0;
		opacity: 0.0;
	}
	#scratch-message.print-view {
		display: none;
		z-index: 0;
		opacity: 0.0;
	}
	#svg7.print-view {
		background-color: #fff;
		height: 95vh;
		width: auto;
		left: 1vw;
	}
	
	.alert
	{
		padding: 1em;
		background-color: #f94;
		color: #000;
		min-width:1em;
		max-width: auto;
		font: TitilliumWeb-Bold;
		border: 1px solid #f94;
	border-radius: 3px;	
	}
	#settings.d-view, #settings.pages-view, #settings.print-view, #page-nav.d-view, #page-nav.settings-view, #page-nav.print-view
	{ display: none; }
/*
	this file is a part of 
	papier 0.4.1
		
	Author : Saint Pierre Thomas
	If you got interest in such kind of app
	feel free to contact me at spierro@protonmail.fr
	Licenced under the termes of the GNU GPL v3
*/
