@font-face {
  font-family: 'papier-fonticon';
  src: url('../font/papier-fonticon.eot?9953192');
  src: url('../font/papier-fonticon.eot?9953192#iefix') format('embedded-opentype'),
       url('../font/papier-fonticon.woff2?9953192') format('woff2'),
       url('../font/papier-fonticon.woff?9953192') format('woff'),
       url('../font/papier-fonticon.ttf?9953192') format('truetype'),
       url('../font/papier-fonticon.svg?9953192#papier-fonticon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'papier-fonticon';
    src: url('../font/papier-fonticon.svg?9953192#papier-fonticon') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "papier-fonticon";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-upload:before { content: '\e800'; } /* '' */
.icon-download:before { content: '\e801'; } /* '' */
.icon-print:before { content: '\e802'; } /* '' */
.icon-s1p:before { content: '\e803'; } /* '' */
.icon-gg:before { content: '\e804'; } /* '' */
.icon-mesh:before { content: '\e805'; } /* '' */
.icon-close:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */
.icon-scale:before { content: '\e808'; } /* '' */
.icon-cancel:before { content: '\e809'; } /* '' */
.icon-forward:before { content: '\e80a'; } /* '' */
.icon-edit:before { content: '\e80b'; } /* '' */
.icon-wrench:before { content: '\e80c'; } /* '' */
.icon-up-circled2:before { content: '\e80d'; } /* '' */
.icon-down-circled2:before { content: '\e80e'; } /* '' */
.icon-left-dir:before { content: '\e80f'; } /* '' */
.icon-right-dir:before { content: '\e810'; } /* '' */
.icon-up-dir:before { content: '\e811'; } /* '' */
.icon-down-dir:before { content: '\e812'; } /* '' */
.icon-up-open:before { content: '\e813'; } /* '' */
.icon-right-open:before { content: '\e814'; } /* '' */
.icon-left-open:before { content: '\e815'; } /* '' */
.icon-down-open:before { content: '\e816'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-right-circled2:before { content: '\f18e'; } /* '' */
.icon-left-circled2:before { content: '\f190'; } /* '' */
.icon-brush:before { content: '\f1fc'; } /* '' */